.elementor-516 .elementor-element.elementor-element-7482e5f{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--padding-top:150px;--padding-right:25px;--padding-bottom:80px;--padding-left:25px;}.elementor-516 .elementor-element.elementor-element-7482e5f:not(.elementor-motion-effects-element-type-background), .elementor-516 .elementor-element.elementor-element-7482e5f > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-98104d3 );}.elementor-516 .elementor-element.elementor-element-7482e5f, .elementor-516 .elementor-element.elementor-element-7482e5f::before{--border-transition:0.3s;}.elementor-516 .elementor-element.elementor-element-cd52ce0{text-align:center;}.elementor-516 .elementor-element.elementor-element-cd52ce0 .elementor-heading-title{color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:48px;font-weight:600;line-height:1.3em;}.elementor-516 .elementor-element.elementor-element-cd52ce0.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-cd52ce0.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-cd52ce0.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-cd52ce0 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-cd52ce0 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-eb9184a{text-align:left;color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:18px;font-weight:400;line-height:1.7em;}.elementor-516 .elementor-element.elementor-element-eb9184a.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-eb9184a.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-eb9184a.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-eb9184a .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-eb9184a .elementor-widget-container p:last-child{margin-bottom:0px;}.elementor-516 .elementor-element.elementor-element-eb9184a > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-47d616c .elementor-button{font-family:"Muli", Sans-serif;font-size:18px;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-9025a43 ) 0%, var( --e-global-color-28310a3 ) 100%);border-style:none;border-radius:100px 100px 100px 100px;padding:15px 50px 15px 50px;}.elementor-516 .elementor-element.elementor-element-47d616c .elementor-button:hover, .elementor-516 .elementor-element.elementor-element-47d616c .elementor-button:focus{color:#FFFFFF;background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-28310a3 ) 0%, var( --e-global-color-9025a43 ) 100%);border-color:var( --e-global-color-9025a43 );}.elementor-516 .elementor-element.elementor-element-47d616c .elementor-button:hover svg, .elementor-516 .elementor-element.elementor-element-47d616c .elementor-button:focus svg{fill:#FFFFFF;}.elementor-516 .elementor-element.elementor-element-47d616c > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-a7a8250{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--padding-top:150px;--padding-right:25px;--padding-bottom:80px;--padding-left:25px;}.elementor-516 .elementor-element.elementor-element-a7a8250:not(.elementor-motion-effects-element-type-background), .elementor-516 .elementor-element.elementor-element-a7a8250 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-98104d3 );}.elementor-516 .elementor-element.elementor-element-a7a8250, .elementor-516 .elementor-element.elementor-element-a7a8250::before{--border-transition:0.3s;}.elementor-516 .elementor-element.elementor-element-0e6e90b{text-align:center;}.elementor-516 .elementor-element.elementor-element-0e6e90b .elementor-heading-title{color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:48px;font-weight:600;line-height:1.3em;}.elementor-516 .elementor-element.elementor-element-0e6e90b.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-0e6e90b.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-0e6e90b.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-0e6e90b .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-0e6e90b > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-04b35d5{text-align:left;color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:18px;font-weight:400;line-height:1.7em;width:var( --container-widget-width, 800px );max-width:800px;--container-widget-width:800px;--container-widget-flex-grow:0;}.elementor-516 .elementor-element.elementor-element-04b35d5.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-04b35d5.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-04b35d5.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-04b35d5 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-04b35d5 .elementor-widget-container p:last-child{margin-bottom:0px;}.elementor-516 .elementor-element.elementor-element-04b35d5 > .elementor-widget-container{padding:20px 0px 25px 0px;}.elementor-516 .elementor-element.elementor-element-87312d4{text-align:left;color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:18px;font-weight:500;line-height:1.7em;width:var( --container-widget-width, 800px );max-width:800px;--container-widget-width:800px;--container-widget-flex-grow:0;}.elementor-516 .elementor-element.elementor-element-87312d4.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-87312d4.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-87312d4.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-87312d4 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-87312d4 .elementor-widget-container p:last-child{margin-bottom:0px;}.elementor-516 .elementor-element.elementor-element-87312d4 > .elementor-widget-container{padding:20px 0px 25px 0px;background-color:#FCFFEA;}.elementor-516 .elementor-element.elementor-element-94b4d53{--display:flex;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button{font-family:"Muli", Sans-serif;font-size:18px;font-weight:500;fill:#FFFFFF;color:#FFFFFF;background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-9025a43 ) 0%, var( --e-global-color-28310a3 ) 100%);border-style:none;border-radius:100px 100px 100px 100px;padding:15px 50px 15px 50px;}.elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button:hover, .elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button:focus{color:#FFFFFF;background-color:transparent;background-image:linear-gradient(90deg, var( --e-global-color-28310a3 ) 0%, var( --e-global-color-9025a43 ) 100%);border-color:var( --e-global-color-9025a43 );}.elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button:hover svg, .elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button:focus svg{fill:#FFFFFF;}.elementor-516 .elementor-element.elementor-element-2b5b0d3 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-da0a4bb{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:20px;--background-transition:0.3s;border-style:none;--border-style:none;--border-radius:12px 12px 12px 12px;--border-top-left-radius:12px;--border-top-right-radius:12px;--border-bottom-right-radius:12px;--border-bottom-left-radius:12px;box-shadow:0px 12px 50px -10px rgba(151.99999999999997, 152.99999999999997, 155.99999999999997, 0.19);--margin-top:25px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:15px;--padding-right:15px;--padding-bottom:15px;--padding-left:15px;}.elementor-516 .elementor-element.elementor-element-da0a4bb:not(.elementor-motion-effects-element-type-background), .elementor-516 .elementor-element.elementor-element-da0a4bb > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-516 .elementor-element.elementor-element-da0a4bb, .elementor-516 .elementor-element.elementor-element-da0a4bb::before{--border-transition:0.3s;}.elementor-516 .elementor-element.elementor-element-da0a4bb.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-516 .elementor-element.elementor-element-4ffbf24 .jet-inline-svg{max-width:100%;}.elementor-516 .elementor-element.elementor-element-4ffbf24 .jet-inline-svg__wrapper{text-align:right;}.elementor-516 .elementor-element.elementor-element-4ffbf24 > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-516 .elementor-element.elementor-element-4ffbf24{width:var( --container-widget-width, 12% );max-width:12%;--container-widget-width:12%;--container-widget-flex-grow:0;}.elementor-516 .elementor-element.elementor-element-4ffbf24.elementor-element{--align-self:center;}.elementor-516 .elementor-element.elementor-element-64dfbfe{--display:flex;--gap:8px;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-516 .elementor-element.elementor-element-64dfbfe.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-516 .elementor-element.elementor-element-8b76af4 .elementor-heading-title{color:var( --e-global-color-5722c4f );font-family:"Muli", Sans-serif;font-size:19px;font-weight:600;}.elementor-516 .elementor-element.elementor-element-8b76af4.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-8b76af4.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-8b76af4.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-8b76af4 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-eded9c0{text-align:left;color:var( --e-global-color-text );font-family:"Muli", Sans-serif;font-size:14px;font-weight:500;}.elementor-516 .elementor-element.elementor-element-eded9c0.ob-harakiri{writing-mode:inherit;}.elementor-516 .elementor-element.elementor-element-eded9c0.ob-harakiri .elementor-heading-title{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-eded9c0.ob-harakiri .elementor-widget-container > div{writing-mode:inherit;transform:rotate(0deg);}.elementor-516 .elementor-element.elementor-element-eded9c0 .elementor-widget-container{text-indent:0px;mix-blend-mode:inherit;}.elementor-516 .elementor-element.elementor-element-eded9c0 .elementor-widget-container p:last-child{margin-bottom:0px;}.elementor-516 .elementor-element.elementor-element-eded9c0 > .elementor-widget-container{padding:0px 0px 0px 0px;}:root{--page-title-display:none;}html, body{overflow-x:auto;}@media(min-width:768px){.elementor-516 .elementor-element.elementor-element-7482e5f{--content-width:800px;}.elementor-516 .elementor-element.elementor-element-a7a8250{--content-width:1280px;}.elementor-516 .elementor-element.elementor-element-94b4d53{--content-width:1280px;}.elementor-516 .elementor-element.elementor-element-da0a4bb{--width:480px;}.elementor-516 .elementor-element.elementor-element-64dfbfe{--width:80%;}}@media(max-width:1024px) and (min-width:768px){.elementor-516 .elementor-element.elementor-element-da0a4bb{--width:480px;}}@media(max-width:1024px){.elementor-516 .elementor-element.elementor-element-cd52ce0 .elementor-heading-title{font-size:48px;}.elementor-516 .elementor-element.elementor-element-cd52ce0 > .elementor-widget-container{padding:0px 25px 0px 25px;}.elementor-516 .elementor-element.elementor-element-eb9184a{font-size:18px;}.elementor-516 .elementor-element.elementor-element-eb9184a > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-47d616c .elementor-button{font-size:18px;}.elementor-516 .elementor-element.elementor-element-0e6e90b .elementor-heading-title{font-size:48px;}.elementor-516 .elementor-element.elementor-element-0e6e90b > .elementor-widget-container{padding:0px 25px 0px 25px;}.elementor-516 .elementor-element.elementor-element-04b35d5{font-size:18px;}.elementor-516 .elementor-element.elementor-element-04b35d5 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-87312d4{font-size:18px;}.elementor-516 .elementor-element.elementor-element-87312d4 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-2b5b0d3 .elementor-button{font-size:18px;}.elementor-516 .elementor-element.elementor-element-da0a4bb{--gap:10px;}.elementor-516 .elementor-element.elementor-element-4ffbf24{--container-widget-width:12%;--container-widget-flex-grow:0;width:var( --container-widget-width, 12% );max-width:12%;}.elementor-516 .elementor-element.elementor-element-eded9c0{font-size:14px;line-height:1.8em;}.elementor-516 .elementor-element.elementor-element-eded9c0 > .elementor-widget-container{padding:0px 5px 0px 5px;}}@media(max-width:767px){.elementor-516 .elementor-element.elementor-element-7482e5f{--padding-top:180px;--padding-right:25px;--padding-bottom:80px;--padding-left:25px;}.elementor-516 .elementor-element.elementor-element-cd52ce0{text-align:center;}.elementor-516 .elementor-element.elementor-element-cd52ce0 .elementor-heading-title{font-size:32px;}.elementor-516 .elementor-element.elementor-element-cd52ce0 > .elementor-widget-container{padding:0px 15px 0px 15px;}.elementor-516 .elementor-element.elementor-element-eb9184a{text-align:left;font-size:16px;}.elementor-516 .elementor-element.elementor-element-eb9184a > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-a7a8250{--padding-top:180px;--padding-right:25px;--padding-bottom:80px;--padding-left:25px;}.elementor-516 .elementor-element.elementor-element-0e6e90b{text-align:center;}.elementor-516 .elementor-element.elementor-element-0e6e90b .elementor-heading-title{font-size:32px;}.elementor-516 .elementor-element.elementor-element-0e6e90b > .elementor-widget-container{padding:0px 15px 0px 15px;}.elementor-516 .elementor-element.elementor-element-04b35d5{text-align:left;font-size:16px;}.elementor-516 .elementor-element.elementor-element-04b35d5 > .elementor-widget-container{padding:20px 0px 0px 0px;}.elementor-516 .elementor-element.elementor-element-87312d4{text-align:left;font-size:11px;}.elementor-516 .elementor-element.elementor-element-87312d4 > .elementor-widget-container{padding:5px 5px 5px 5px;border-radius:12px 12px 12px 12px;}.elementor-516 .elementor-element.elementor-element-da0a4bb{--width:100%;--margin-top:25px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:15px;--padding-right:5px;--padding-bottom:15px;--padding-left:15px;}.elementor-516 .elementor-element.elementor-element-4ffbf24{--container-widget-width:45px;--container-widget-flex-grow:0;width:var( --container-widget-width, 45px );max-width:45px;}.elementor-516 .elementor-element.elementor-element-64dfbfe{--width:calc(100% - 60px);}.elementor-516 .elementor-element.elementor-element-8b76af4 .elementor-heading-title{font-size:15px;}.elementor-516 .elementor-element.elementor-element-eded9c0{text-align:left;font-size:14px;line-height:1.3em;}.elementor-516 .elementor-element.elementor-element-eded9c0 > .elementor-widget-container{padding:0px 0px 0px 0px;}}/* Start custom CSS for text-editor, class: .elementor-element-eb9184a */.elementor-516 .elementor-element.elementor-element-eb9184a a {
        background-image: linear-gradient(120deg,#A82FF9,#4B6BE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-04b35d5 */.elementor-516 .elementor-element.elementor-element-04b35d5 a {
        background-image: linear-gradient(120deg,#A82FF9,#4B6BE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-87312d4 */.elementor-516 .elementor-element.elementor-element-87312d4 a {
        background-image: linear-gradient(120deg,#A82FF9,#4B6BE0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-94b4d53 */div.paul-ele-widgets-container {
    font-family: "Muli", Sans-serif!important;
    font-weight: 500px!important;
}

div.input-search {
    background:#F8F8FF!important;
    
}

input.search-channel {
    width: 100%;
    border-radius: 50px;
    border: 0;
    background: transparent;
    font-family: "Muli", Sans-serif!important;
    font-size: 22px!important;
    padding-left: 50px!important;
    color: #262a37!important;
    outline: 0;
    letter-spacing: 0px!important;
}

.filterBox .input-search span {
    display: block;
    width: 60px;
    padding-top: 8px!important;
    position: absolute;
    left: 0px!important;
    text-align: center;
    color: #020228!important;
    font-size: 20px;
}


div.filterBox {
    background:#fff;
    border: 1px solid #E6E6E6!important;
}

div.categories-box {
    padding:30px 0 10px 0;
}

.categories-box ul li a {
       background: linear-gradient(90deg,#A82FF9 7.79%,#4B6BE0 94.18%)!important;
    text-decoration: none;
    color: white;
    font-size: 16px!important;
    padding: 5px 18px 5px 18px;
    font-family: "Muli", Sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    margin-right: 6px; 
    border-radius: 25px
}

.categories-box ul li a.selected {
    background: linear-gradient(90deg,#4B6BE0 7.79%,#A82FF9 94.18%)!important;
    color: #fff;
    border-bottom-left-radius: 10px;
}

div.country {
    color:#020228!important;
    font-size: 18px!important
}

div.country.selected {
   background: linear-gradient(90deg,#A82FF9 7.79%,#4B6BE0 94.18%)!important;
   color: #fff!important;
   
}

.chaineShow a.sign {
    color:#fff!important;
           background: linear-gradient(90deg,#A82FF9 7.79%,#4B6BE0 94.18%)!important;
}

.chaineShow a.sign:hover {
    color:#fff!important;
           background: linear-gradient(90deg,#A82FF9 7.79%,#4B6BE0 94.18%)!important;
}

.chaineShow a {
   color:#64748b!important
}

.chaineShow a:hover {
    background:white!important;
}

.chaineShow {
    background:#F8F8FF;
    padding:20px 30px!important;
    border-radius: 12px;
    border:none!important;
}

.chaineShow a:hover:after {
    background-color: red;
}

div.toggle-countries {
    display: none!important;
}

.chaineShow::-webkit-scrollbar-track {
    background:#fff!important;
    
}

.chaineShow::-webkit-scrollbar {
width: 10px!important;
}

.chaineShow::-webkit-scrollbar-thumb {
    background:#E6E6E6!important;
    border-radius: 10px;
    border: px solid #E6E6E6!important;
}

.filter-countries-box::-webkit-scrollbar-track {
    background:#fff!important;
}
    
.filter-countries-box::-webkit-scrollbar {
width: 10px!important;
}

.filter-countries-box::-webkit-scrollbar-thumb {
    background:#E6E6E6!important;
    border-radius: 10px;
    border: px solid #E6E6E6!important;
}

.categories-box::-webkit-scrollbar-track {
    background:#fff!important;
}

.categories-box::-webkit-scrollbar {
height: 10px!important;
}

.categories-box::-webkit-scrollbar-thumb {
    background:#E6E6E6!important;
    border-radius: 10px;
    border: 0px solid #E6E6E6!important;
}


@media (max-width:770px) {
    input.search-channel {
    height:38px!important;
    font-size:18px!important;
    }
    
    .filterBox .input-search span {
    padding-top: 6px!important;
    }

   .row.box-data {
    margin-top:0px!important;
    margin-bottom:0px!important;
    }
    
    .chaineShow {
     padding:15px 0px!important;   
    }
    
    div.categories-box {
    padding: 20px 0 0px 0!important;
    }
    
    .categories-box ul li a {
    font-size: 13px!important;
    padding: 4px 12px;
    }
    
    .categories-box ul {
    width: 1230px!important;
    }
    
    .chaineShow a {
    font-size:12px!important;
    }
    
    div.col.col-md-9.col-xs-12 {
        padding:0!important;
    }
    
    .chaineShow::-webkit-scrollbar {
    display:none!important;
    }
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/05/Muli.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('../../2023/05/Muli-1.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url('../../2023/05/Muli-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2023/05/Muli-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/05/Muli-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url('../../2023/05/Muli-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url('../../2023/05/Muli-Bold.ttf') format('truetype');
}
/* End Custom Fonts CSS */